__pycache__/
*.pyc
*.pyc
__pycache__/config.cpython-312.pyc
__pycache__/jogador.cpython-312.pyc
__pycache__/menu.cpython-312.pyc
__pycache__/personagens.cpython-312.pyc
__pycache__/projetil.cpython-312.pyc
__pycache__/projetil.cpython-312.pyc
__pycache__/projetil.cpython-312.pyc
__pycache__/personagens.cpython-312.pyc
__pycache__/menu.cpython-312.pyc
__pycache__/jogador.cpython-312.pyc
__pycache__/config.cpython-312.pyc
